body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: slategray;
}

main{
    width: 80%;
    margin: 0 auto;
    outline: 1px dashed red;
    overflow: auto;
}

main article{
    width: 30.33%;
    height: 300px;
    outline: 1px solid black;
    float: left;
    margin: 1%; 
    overflow: auto;
}

main article div {
    height: 200px;
    overflow: hidden;
}

/* bloque donde se aplica la animacion de zoom*/
main article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.6s; /* Animation */
}

 main article img:hover {
    transform: scale(1.5); 
} 