fieldset{
    border: 1px solid steelblue;
}

label,input{
    display: block;
    margin-bottom: 10px;
}

input[type="text"],input[type="email"], input[type="number"]{
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid red;
    outline: 0px;
}