table{
    text-align: center;
    border-collapse: collapse;
    
}

table,th,td{
    border: 1px solid steelblue;
}

th,td{
    padding: 10px;
}

th{
    background-color: steelblue;
    color: white;
}

caption{
    padding: 20px;
    font-weight: bold;
}

tr:hover{
    background-color: gray;
}

.columnaFondo{
    background-color: yellow;
}
