body{
    font-family: 'Lora', serif;
    margin: 0;
}

header{
    background-color: steelblue;
    color: white;
    text-align: center;
}
main{
    width: 70%;
    /* border: 1px solid steelblue; */
    margin: 30px auto;
}

footer{
    background-color: black;
    color: white;
}