* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: #f5f5f5;
}
header{
    height: 60px;
    background-color: transparent;
}
header img {
    height: 80%;
}
header nav {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}
header nav a {
    text-decoration: none;
    color: white;    
    background-color: brown;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
header nav a:hover{
    background-color:transparent;
}
.slider-container{
    height: 350px;
    background-image: url(./imgs/slider.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 60px 0px;
    margin-top: -60px;
}
.slider{
    width: 80%;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.slider h1 {
    margin: 20px 0px;
    font-size: 35px;
    text-transform: uppercase;
}
.slider p{
    line-height: 30px;
    font-size: 20px;
    margin-top: 20px;
}
.slider .slider-links{
    margin: 20px auto;
    overflow: auto;
    width: 48%;
}
.slider .slider-links a{
    text-decoration: none;
    color: white;
    background-color: green;
    text-transform: uppercase;
    width: 46%;
    margin: 2%;
    padding: 2%;
    display: block;
    float:left;
    transition: 0.3s;
}
.slider .slider-links a:hover{
    background-color: rgb(4, 94, 4);
}
.container{
    width: 80%;
    margin: 60px auto;
}

.products{
    overflow: hidden;
}
.products .product {
    width: 31.33%;
    float: left;
    margin: 1%;
    padding: 10px;
    box-shadow: 3px 3px 10px -3px black;
}

.products .product img{
    width: 100%;
}

.products .product .product-footer {
    margin-top: 15px;
}

footer{
    background-color:rgb(24, 104, 24);
    padding: 5% 10%;
}

footer .logo-footer{
    height: 50px;
}
footer .logo-links article{
    width: 25%;
    float:left;
}
footer .logo-links article a{
   display: block;
   text-decoration: none;
   color: white;
   margin-bottom: 10px;
   text-align: right;
   
}

footer .address{
    padding-top: 30px;
    clear: both;
    text-align: center;
    color: whitesmoke;
}