.container{
    width: 600px;
    height: 600px;
    border: 1px dashed black;
    overflow: auto;
}

.container .item{
    width: 282px;
    height: 200px;
    border: 3px solid red;
    /* outline: 1px solid red; */
    font-size: 20px;
    padding: 3px;
    margin: 3px;
    vertical-align: top;
    overflow: hidden;
    float: left;
}

