body{
    padding-bottom: 30em;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: steelblue;
}
dialog{
    width: 60%;
    background: rgba(114, 23, 23, 0.7);
    color: white;
}

.controles{
    background-color: steelblue;
}

.mapa{
    border: 1px solid red;

}

.mapa div{
    display: inline-block;
    outline: 1px solid blue;
}