/* estilos para todo el sitio web*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
    text-align: center;
    padding: 1.5em 0;
    color: gray;
}
p{
    line-height: 1.7em;
    font-size: 1.1em;
    text-align: justify;
}
header{
    text-align: center;
}
.logo{
    height: 50px;
}
nav{
    text-align: center;
}

/* selector hijo*/
nav a {
    text-decoration: none;
    margin-left: 20px;
    color: orangered;
    font-size: 1.2em;
}

main{
    width: 80%;
    margin: 0 auto;
}

footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: orangered;
    color: white;
    text-align: center;
}

.derechoDeAutor p{
    text-align: center;
}

/* estilos solo para index.html*/
.sliders img{
    width: 100%;
}
.fotoStaff{
    display: inline-block;
    width: 33%;
}

.fotoStaff img {
    width: 100%;
}
/* fin estilos para index.html */

/* estilos para clientes.html */
.tipoCliente{
    text-align: center;
}
.tipoCliente img{
    width: 80%;
}
.tipoCliente figcaption{
    color: gray;
}
/* fin estilos para clientes.html*/
